.contenedorImagen{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
}

.imagenPersonaje{
	height: 204px;
}

.contenedorPreguntas{
	width: 650px;
	margin: auto;
	background-color: #06EDFC;
	border-radius: 50px;
	padding: 20px;
	margin-top: 23px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.pregunta{
	display: flex;
	padding: 5px;
}

.ico{
	height: 25px;
}

.divRespuesta{
	margin-left: 20px;
	margin-right: 15px;
}

h1{
	text-align: center;
}

button{
	font-size: large;
	padding: 5px;
}

.imgp{
    position: relative;
    margin-top: -20px;
    height: 200px;
}

.resultadosPuntaje{
    width: 220px;
    margin: auto;
    background-color: #00E434;
    border-radius: 62px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}    